@import './themes.css';

.main-menu {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 75px;
  background-image: url('../../resources/grain.jpg');
  background-size: 50%;
  background-position: 0px 35%;
}
.main-menu div {
  align-items: center;
  display: flex;
  font-size: 35px;
  justify-content: center;
}
.main-menu-brews {
  grid-column: 2;
}
.main-menu-recipes {
  grid-column: 3;
}
.main-menu-water {
  grid-column: 4;
}

.main-menu-button {
  background-color: var(--highlightAccent);
  border: 2.5px solid var(--highlight);
  border-radius: 3px;
  color: var(--highlight);
  display: flex;
  padding: 3px;
}

a.main-menu-button:link {
  text-decoration: none;
}

a.main-menu-button:hover {
  border-color: var(--primary);
  color: var(--primary);
}

.main-menu-button-active {
  border-color: var(--primary);
  color: var(--primary);
}
