#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.danger-button {
  background-color: transparent;
  border-bottom-style: solid;
  border-color: red;
  border-radius: 5px;
  border-right-style: solid;
  color: red;
}

.danger-button:hover {
  background-color: red !important;
  border-color: red;
  color: white;
}

.danger-button-icon {
  font-size: 35px !important;
}

.danger-button-icon:hover {
  background-color: red !important;
}

.header-text {
  display: inline;
  float: left;
  margin-bottom: 0px;
}
.header-button {
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.table {
  border-bottom: 1px var(--neutral2) solid;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table :hover {
  background-color: #dff1ff;
}

.tableHighlightRowLink {
  width: 100%;
  border-width: 0;
}

.propertyColumn {
  width: 125px;
}

.recipeDetailContainer {
  display: grid;
  grid-template-columns: 50% 1fr 35px;
  grid-template-rows: 35px auto auto auto auto;
  width: 100%;
}

.recipeDetailContainer > .header {
  background-color: #001a33;
  color: #fff;
  font-size: 18px;
}

.recipeDetailContainer > .title {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 5px;
}

.recipeDetailContainer > .favourite {
  grid-column: 3;
  grid-row: 1;
  padding: 0px;
  padding-right: 5px;
  padding-top: 2px;
  text-align: right;
}

.recipeDetailContainer > .Description {
  border-bottom: solid 1px #001a33;
  grid-column: 1 / span 3;
  grid-row: 2;
}

.recipeDetailContainer > .Type {
  grid-column: 1;
  grid-row: 3;
}

.recipeDetailContainer > .ExpectedABV {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.recipeDetailContainer > .IngredientsWaterProfile {
  grid-column: 1 / span 3;
  grid-row: 4;
  padding-left: 0px;
  padding-right: 0px;
}
.recipeDetailContainer > .BrewingSteps {
  grid-column: 1 / span 3;
  grid-row: 5;
  padding-left: 0px;
  padding-right: 0px;
}

.expandableTableSingleContainer {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 25px;
  padding: 5px;
  width: 100%;
}

.expandableTableSingleContainer > .title {
  grid-column: 1;
}

.expandableTableSingleContainer > .expander {
  grid-column: 2;
  text-align: right;
}

/* https://medium.com/@harishv6665_49536/theming-with-react-js-or-any-in-minutes-with-css-variables-11d4ebecdb41 */
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
