#app {
  max-width: 850px;
  margin: 0 auto;
}

nav {
  padding: 20px 0 20px 0;
}

.header-button-standard,
.header-button-danger {
  background-color: var(--primary);
  border-color: var(--primary);
  border-width: 3px;
  float: right;
  margin-bottom: 5px;
  margin-top: 5px;
}

.header-button-standard:hover {
  background-color: var(--highlightAccent);
  border-color: var(--primary);
  color: var(--primary);
}

.header-button-danger:hover {
  background-color: white;
  border-color: red;
  color: red;
}

.header-text {
  display: inline;
  float: left;
  margin-bottom: 0px;
}

.table {
  border-bottom: 1px var(--neutral2) solid;
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table :hover {
  background-color: #dff1ff;
}

.tableHighlightRowLink {
  width: 100%;
  border-width: 0;
}

.propertyColumn {
  width: 125px;
}

.recipeDetailContainer {
  display: grid;
  grid-template-columns: 50% 1fr 35px;
  grid-template-rows: 35px auto auto auto auto;
  width: 100%;
}

.recipeDetailContainer > .header {
  background-color: #001a33;
  color: #fff;
  font-size: 18px;
}

.recipeDetailContainer > .title {
  grid-column: 1 / span 2;
  grid-row: 1;
  padding: 5px;
}

.recipeDetailContainer > .favourite {
  grid-column: 3;
  grid-row: 1;
  padding: 0px;
  padding-right: 5px;
  padding-top: 2px;
  text-align: right;
}

.recipeDetailContainer > .Description {
  border-bottom: solid 1px #001a33;
  grid-column: 1 / span 3;
  grid-row: 2;
}

.recipeDetailContainer > .Type {
  grid-column: 1;
  grid-row: 3;
}

.recipeDetailContainer > .ExpectedABV {
  grid-column: 2 / span 2;
  grid-row: 3;
}

.recipeDetailContainer > .IngredientsWaterProfile {
  grid-column: 1 / span 3;
  grid-row: 4;
  padding-left: 0px;
  padding-right: 0px;
}
.recipeDetailContainer > .BrewingSteps {
  grid-column: 1 / span 3;
  grid-row: 5;
  padding-left: 0px;
  padding-right: 0px;
}

.expandableTableSingleContainer {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 25px;
  grid-template-rows: 25px;
  padding: 5px;
  width: 100%;
}

.expandableTableSingleContainer > .title {
  grid-column: 1;
}

.expandableTableSingleContainer > .expander {
  grid-column: 2;
  text-align: right;
}

.water-profile-additions-table,
.water-profile-additions-table-bordered {
  border-color: var(--neutral2);
  border-style: solid;
}

.water-profile-additions-table-bordered {
  border-bottom-width: 1px;
}

.water-profile-additions-table-cell,
.water-profile-additions-table-cell-bordered {
  display: inline-block;
  padding: 3px 3px 10px 3px;
  width: 25%;
}

.water-profile-additions-table-cell-bordered {
  border-right-width: 1px;
}
.waterProfileDetailContainer {
  display: grid;
  grid-template-columns: 50% 1fr 35px;
  grid-template-rows: 35px auto auto auto auto;
  width: 100%;
}

.waterProfileDetailContainer > .header {
  background-color: #001a33;
  color: #fff;
  font-size: 18px;
}

.waterProfileDetailContainer > .title {
  grid-column: 1 / span 3;
  grid-row: 1;
  padding: 5px;
}

.waterProfileDetailContainer > .description {
  border-bottom: solid 1px #001a33;
  grid-column: 1 / span 3;
  grid-row: 2;
  padding-bottom: 5px;
}

.waterProfileDetailContainer > .additionsTitle {
  grid-column: 1 / span 3;
  grid-row: 3;
  padding: 5px;
}

.waterProfileDetailContainer > .additions {
  grid-column: 1 / span 3;
  grid-row: 4;
  padding: 5px;
}

/* https://medium.com/@harishv6665_49536/theming-with-react-js-or-any-in-minutes-with-css-variables-11d4ebecdb41 */
html.theme-transition,
html.theme-transition *,
html.theme-transition *:before,
html.theme-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
